<?xml version="1.0" encoding="UTF-8"?>
<suite name="Vehicle_Test_Suite">
    <test name="Walker_Test" preserve-order="true">
        <classes>
            <class name="WalkerTest">
                <methods>
                    <exclude name="testSetStartingPointIsZero()"/>
                    <exclude name="testSetStartingPointIsNaN()"/>
                    <exclude name="testMoveMoreThanZero()"/>
                    <exclude name="testMoveOutOfDouble()"/>
                    <exclude name="testGetTimePositive()"/>
                    <exclude name="testGetCost()"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Bicycle_Test" preserve-order="true">
        <classes>
            <class name="WalkerTest">
                <methods>
                    <exclude name="testSetStartingPointIsZero()"/>
                    <exclude name="testSetStartingPointIsNaN()"/>
                    <exclude name="testMoveMoreThanZero()"/>
                    <exclude name="testMoveOutOfDouble()"/>
                    <exclude name="testGetTimePositive()"/>
                    <exclude name="testGetCost()"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Car_Test" preserve-order="true">
        <classes>
            <class name="WalkerTest">
                <methods>
                    <exclude name="testSetStartingPointIsZero()"/>
                    <exclude name="testSetStartingPointIsNaN()"/>
                    <exclude name="testMoveMoreThanZero()"/>
                    <exclude name="testMoveOutOfDouble()"/>
                    <exclude name="testGetTimePositive()"/>
                    <exclude name="testGetCost()"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Bus_Test" preserve-order="true">
        <classes>
            <class name="WalkerTest">
                <methods>
                    <exclude name="testSetStartingPointIsZero()"/>
                    <exclude name="testSetStartingPointIsNaN()"/>
                    <exclude name="testMoveMoreThanZero()"/>
                    <exclude name="testMoveOutOfDouble()"/>
                    <exclude name="testGetTimePositive()"/>
                    <exclude name="testGetCost()"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>